.auction-card-container {
  min-height: 20vh;
  max-width: 40vw;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  display: flex;
  gap: 1em;
  border-radius: 8px;
  box-shadow: 0 0 20px rgb(193, 193, 193);
  margin: 2em;
}

.bid-history {
  margin-top: 1rem;
  overflow: hidden;
}

.auction-card-image {
  width: 20vw;
  height: 30vh;
  object-fit: cover;
  display: block;
  border-radius: 6px 6px;
}
