body {
  background-color: rgb(249, 252, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  color: rgb(77, 219, 255);
  font-weight: 400;
}

button {
  padding: 0.3rem 1rem;
}
